*{
    text-decoration:none;
    list-style: none;
}

.container {
    width: 1120px;
    margin: auto;
}

.header {
    background-color: black;
}

a {
    text-decoration: none;
}

.nav__self-pro {

    align-items: center;
}

.nav-list {

    column-gap: 20px;
    margin-left: 691px;
    margin-top: 21px;
}
.nav__title{
    color: white;
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: right;

}
.nav-line{
    width: 100%;
    height: 1px;
background-color: antiquewhite;

}
.btn_nav{
    width: 216px;
    height: 53px;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
.nav__titler{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  
    height: 30px;
    width: 93px;
    left: 1008px;
    top: 22px;
    border-radius: nullpx;
color: white; 
transition: 1s;       
}
.nav__titler:hover{
display: block;
width: 100px;
height: 40px;
    background: rgba(105, 207, 23, 0.75);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
 
}
.nav-listr{
    column-gap: 20px;
    margin-left: 500px;
    margin-top: 21px;
}
.nav__title:hover {
    color: white;
}
/* nav end */
/* header start */
.header__content {
    background: url(../img/food-burger-wallpaper-preview\ 1.png);
    width: 100%;
max-width: 1600px; 
position: relative;
height: 700px;
}
.header__content-title{
    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 85px;
/* identical to box height */
margin-bottom: 18px;

color: #69CF17;
}
.span{
    width: 155px;
    height: 28px;   
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 17px;
/* or 47% */


color: #69CF17;

}
.header__content-text{
    max-width:  1110px;

    max-height: 72px;

margin: auto;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-top: 18px;
/* or 133% */


color: #FFFFFF;
}
.product__neews {
   margin-top: 167px;
   margin-left: 245px;

position: absolute;
}
.all-button {
    justify-content: space-around;
    align-items: center;

}
.product-price{
    position: absolute;
width: 285px;
height: 103px;
left: 245px;
top: 542px;
font-family: Raleway;
font-size: 50px;
font-weight: 100;
line-height: 25px;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
color: #FFFFFF;
background: rgba(105, 207, 23, 0.5);
backdrop-filter: blur(9px);
}
.all-btn__btn{
    position: absolute;
width: 255px;
height: 51px;
left: 1100px;
top: 568px;

background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
border-radius: 6px;
}
/* header end */
/* /main start */ 
     .for__border{
    
        width: 350px;
margin-left: 30px;
        border-radius: 4px;
        background: #0C0C0C;
        linear-gradixent(0deg, #FFFFFF, #FFFFFF);
    border: 2px solid white;
    margin-top: 15px;
    margin-bottom: 15px;

    } 
.dif_burger{
width: 100%;
margin-top: 15px;
margin-bottom: 15px;

}
.dif_burger:hover{
    background-image: url(../img/Rectangle\ 8.png);
}

.navfor__position{
    width: 100%;
    position: fixed;
    top: 80px;
    z-index: 1;
}

main{
width: 100%;

background: #393636;


}
.navbarformain{
    height: 65px;
    width: 100%;

 background: #292929;

}
.navformain{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: white !important;

}


 .navbarformain::after{
    content: "";
  display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    bottom:0 ;
    transform: scale(0);
    transition: .5s;
}  


.line{
width: 100%;
height: 50px;
background-color: black;
}
.dif__burger-title{
    width: 143.83px;
height: 15px;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 15px;

/* identical to box height, or 79% */

color: #FFFFFF;
}
.dif__burger-word{
    
    width: 338.73px;
    height: 124px;
    left: 430.63px;
    top: 1891px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    
    /* or 132% */
    
    color: #FFFFFF;
}
.aboutma-ps{
    width: 100%;
    background-color: white;

}
.about__map{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 40px;
text-align: center;

color: #69CF17;
}
footer{
 
width: 100%;

background: #1A3406;

}
.footer__li-st{
   
    column-gap: 450px;
    align-items: center;
}
.footer__number{
    width: 169px;
height: 23px;
margin-top: 45px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: right;

color: #FFFFFF;
}

.footer-btn{
    margin-top: 30px;
}
.footer-list{
    column-gap: 20px;
    justify-content: center;
    margin-top: 96px;
}
.project-about{
    width: 100%;
    background: #1A3406;
}
.project___abotut{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* identical to box height */
text-align: center;
margin-top: 30px;
color: #FFFFFF;
}
/* onas start */
.main-title{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;


text-align: justify;

color: #FFFFFF;
}
.main-image{
    margin-top: 30px;
    margin-bottom: 30px;
}